# Logs
logs/
*.log
/npm-debug.log
/yarn-debug.log
/yarn-error.log
/pnpm-debug.log
/lerna-debug.log

# Diretórios de saída
/node_modules/
/dist/
/dist-ssr/
/.local/
/package-lock.json

# Diretórios e arquivos do editor
/.vscode/
!/.vscode/extensions.json
/.idea/
/.DS_Store
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
/*.sw?
